.unorderedList {
  list-style-type: none;
  padding-left: 0;
}

/* .cuisinesContainer {
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 100px 300px;
  grid-gap: 10px;
  padding: 10px;
} */